{% extends 'base.html' %}
{% block content %}
      <div class="container-fluid bg-secondary p-0">
        <div class="row g-0 d-flex h-100">
            <div class="col-lg-3 py-0 h-100 px-5">
                <div class="h-100 d-flex flex-column justify-content-center bg-primary p-5">
                    {% for m in upcoming_matches %}
                        <div class="d-flex text-white mb-0">
                            <div class="ps-4">
                                <a href=""><h3>{{ m.home_team.name }} <br> {{ m.away_team.name }}</h3></a>
                                <p class="mb-0">{{ m.date|date:"d M Y, H:i" }}</p><br>
                            </div>
                        </div>
                    {% endfor %}

                    <a href="" class="btn btn-light py-md-3 px-md-5 rounded-pill mb-2">Więcej</a>
                </div>
            </div>
            <div class="col-lg-6 h-100">
                <div class="h-100 d-flex flex-column justify-content-center bg-primary p-5">

                </div>
            </div>

            <div class="col lg-9 h-100">
                <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
                <h2 class="display-5 mb-0 text-center">Ranking</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Gracz</th>
                      <th scope="col">Punkty</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for r in user_rankings %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ r.user.username }}</td>
                          <td>{{ r.points }}</td>
                        </tr>
                    {% endfor %}

                    {% for i in " "|ljust:missing_count %}
                        <tr>
                            <th scope="row">{{ forloop.counter|add:user_rankings.count }}</th> <!-- Numer pozycji -->
                            <td>-</td> <!-- Pusty gracz -->
                            <td>-</td> <!-- Puste punkty -->
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>

                    <div class="container d-flex justify-content-center align-items-center">
    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill p-4">Więcej</a>
</div>


            </div>
            </div>
        </div>
    </div>
{% endblock %}